doctype html
html
  include head.pug
  
  body
    div(class='container')
      div(class='row')
        div(class='col-9')
          h1 Monitoring
        div(class='col')
          div(class='row align-items-center' style='height: 100%')
            div(class='col')
              a(href="#" class="frequencyButton" value=5) 5 minutes
            div(class='col')
              a(href="#" class="frequencyButton" value=60) 60 minutes
      div(class='row')
        div(class='col')
          h3 Temperature
          div(class='ct-chart ct-major-twelfth' id='chart1')
      div(class='row')
        div(class='col')
          h3 Humidity
          div(class='ct-chart ct-major-twelfth' id='chart2')
      div(class='row')
        div(class='col')
          h3 Luminosity
          div(class='ct-chart ct-major-twelfth' id='chart3')
    script(type='text/javascript' src='public/main.js')
    link(rel="stylesheet" href="public/style.css")
